.accordion-container {
  padding: 60px;
  margin-top: 150px;
}

.accordion-header {
  text-align: center;
  padding-bottom: 40px;
}

.accordion-header h1 {
  font-size: 35px;
  font-weight: 700;
}

.accordion-full .question {
  font-weight: 600;
  color: black;
  padding: 5px 0;
}

.accordion-full .question-open {
  font-weight: 600;
  color: #ff8c00;
  padding: 5px 0;
  opacity: 1;
}

.accordion-full .answer {
  color: #7a7a7a;
  animation: slideDown 0.6s ease-out;
}
.accordAnswer-heading {
  color: black;
}

@keyframes slideDown {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 786px) {
  .accordion-full .answer {
    font-size: 13px;
  }
}
